@model List<Pedido>
@{
    ViewData["Title"] = "Lista de Distribuidores";
}
<h1>@ViewData["Title"]</h1>
<button type="button" class="btn btn-success" onclick=" location.href='@Url.Action("Create", "Distribuidor")' ">Confirmar Pedido</button>
<p>Esta pagina muestra los distribuidores de la empresa</p>

<table class="table">
    <thead class="table-danger">
        <tr>
            <th scope="col">IdDistribuidor</th>
            <th scope="col">Nombre</th>
            <th scope="col">Marca</th>
            <th scope="col">Stock</th>
            <th scope="col">Precio por Docena</th>
            <th scope="col">ID Distribuidor</th>
            <th scope="col">Opciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-dark">
                <td>@item.Ropa.Codigo</td>
                <td>@item.Ropa.Nombre</td>
                <td>@item.Ropa.Marca</td>
                <td>@item.Ropa.Stock</td>
                <td>@item.Ropa.PrecioDocena</td>
                <td>@item.Distribuidor.IdDistribuidor</td>
                <td>
                    /*Ingresar un checkbox para saber que productos se van a pedir*/

                </td>

            </tr>
        }
    </tbody>
</table>
